<h2>My Elements</h2>

<div>
  <label>Element name:
    <input #elementName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(elementName.value); elementName.value=''">
    add
  </button>
</div>

<ul class="elements">
  <li *ngFor="let element of elements">
    <a routerLink="/detail/{{element.id}}">
      <span class="badge">{{element.id}}</span> {{element.name}}
    </a>
    <button class="delete" title="delete element"
      (click)="delete(element)">x</button>
  </li>
</ul>
